:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
  /* Quitamos el background-color de aquí para que mande el body */
  /* background-color: #242424;  <-- ESTO SE COMENTA O BORRA */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ESTO ES NUEVO Y NECESARIO */
body {
  margin: 0;
  min-height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
  background-color: #242424; /* El color inicial */
  transition: background-color 0.5s ease; /* Un efecto suave al cambiar */
  display: flex;
  justify-content: center; /* Centrar todo */
  align-items: center;
}

#app {
  text-align: center;
}